body {
    margin: 0;
    background-color: #61383f;
    color: #f14655;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#countdown {
    width: 500px;
    height: 170px;
    margin: 30px auto;
    padding: 30px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 8px;
    display: flex;
}

#countdown>div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#countdown>div>div {
    font-family: 'Dancing Script', cursive;
    text-shadow: #f14655 0 0 8px;
    font-size: 60px;
    letter-spacing: 2px;
}

.title {
    font-family: 'Dancing Script', cursive;
    text-shadow: #f14655 0 0 8px;
    font-size: 60px;
    letter-spacing: 2px;
}